{% extends "users/base.html" %}

{% block content %}
<div class = "centered"> <h1>This page shows the interaction with the database! template to print all Polls!</h1></div>
{% if polls %}

<ol>
    {% for obj in polls %}
    <div class="card" style = "margin: 10px;">
  
  <div class="card-body">
       <ul>
        <li>first name: {{obj.first_name}}</li>
        <li>last name: {{obj.last_name}}</li>
        <li>vote: {{obj.vote}}</li>
    </ul>
  </div>
    </div>
 
    {% endfor %}
</ol>
{% else %}
<h1>didnt work boss</h1>
{% endif %}
{% endblock %}